@import 'tailwindcss';
@tailwind utilities;

.clip-default {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%, 35% 65%, 0 65%);
}

@media (min-width: 768px) {
	.clip-md {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 25% 65%, 0 65%);
	}
}
